@model IEnumerable<MyVet.Web.Data.Entidades.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Clientes</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Documento)
            </th>
            <th>
                No.Teléfono
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Direccion)
            </th>

            <th>
                #Mascotas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mascotas.Count)

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalle</a> |
                    <button data-id="@item.Id" class="btn btn-danger eliminarRegistro" data-toggle="modal" data-target="#eliminarDialog">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_ModalEliminar" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    	$(document).ready(function () {
        	// Delete item
        	var item_a_eliminar;

            $('.eliminarRegistro').click((e) => {
                item_a_eliminar = e.currentTarget.dataset.id;
        	});

        	$("#btnEliminarSi").click(function () {
                window.location.href = '/Clientes/Eliminar/' + item_a_eliminar;
        	});
    	});
    </script>
}
